services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: development
      EDITING_ENABLED: false
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_URL: 'http://minio:9000'
      IMGPROXY_KEY: ${IMGPROXY_KEY}
      IMGPROXY_SALT: ${IMGPROXY_SALT}
      IMGPROXY_URL: ${IMGPROXY_URL}
    ports:
      - 3000:3000
      - 3001:3001
    volumes:
      - .:/app
    depends_on:
      - db
      - minio
      - imgproxy
      - redis
    command: "/app/bin/dev"
    platform: linux/amd64
  db:
    image: couchdb:latest
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    ports:
      - 5984:5984
    volumes:
      - ./couchdb-data:/opt/couchdb/data

  minio:
    image: minio/minio:RELEASE.2025-04-08T15-41-24Z # pinned here as later versiosn require CLI only interaction
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./minio-data:/data

  imgproxy:
    image: darthsim/imgproxy:latest
    ports:
      - 8080:8080
    environment:
      IMGPROXY_USE_S3: true
      IMGPROXY_S3_ENDPOINT: http://minio:9000
      IMGPROXY_KEY: ${IMGPROXY_KEY}
      IMGPROXY_SALT: ${IMGPROXY_SALT}
      IMGPROXY_MAX_SRC_RESOLUTION: 100
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}

  redis:
    image: redis:latest
    ports:
      - 6379:6379
