services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: development
      EDITING_ENABLED: false
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET}
      S3_URL: 'http://minio:9000'
      IMGPROXY_KEY: ${IMGPROXY_KEY}
      IMGPROXY_SALT: ${IMGPROXY_SALT}
      IMGPROXY_URL: ${IMGPROXY_URL}
    ports:
      - 3000:3000
      - 3001:3001
    volumes:
      - .:/app
    # user: 501:20
    depends_on:
      - db
      - minio
      - imgproxy
      - redis
    command: "/app/bin/dev"
    platform: linux/amd64
  db:
    image: couchdb:latest
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    ports:
      - 6984:5984
    volumes:
      - ./couchdb-data:/opt/couchdb/data

  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./minio-data:/data

  imgproxy:
    image: darthsim/imgproxy:latest
    ports:
      - 8080:8080
    environment:
      IMGPROXY_USE_S3: true
      IMGPROXY_S3_ENDPOINT: http://minio:9000
      IMGPROXY_KEY: ${IMGPROXY_KEY}
      IMGPROXY_SALT: ${IMGPROXY_SALT}
      IMGPROXY_MAX_SRC_RESOLUTION: 100
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  # prometheus:
  #   image: prom/prometheus:v2.37.0
  #   ports:
  #     - 9090:9090
  #   volumes:
  #     - ./prometheus-data:/etc/prometheus
  #   depends_on:
  #     - db
  #     - minio

  # grafana:
  #   image: grafana/grafana:latest
  #   ports:
  #     - 4000:3000
  #   volumes:
  #     - ./grafana-data:/var/lib/grafana
  #   # user: 501:20
  #   depends_on:
  #     - prometheus

  # node_exporter:
  #   image: prom/node-exporter:latest
  #   command:
  #     - '--collector.textfile.directory=/var/lib/textfile_collector'
  #   ports:
  #     - 9100:9100
  #   volumes:
  #     - ./shared-data/textfile_collector:/var/lib/textfile_collector
