table, th, td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

table {
  width: 100%;
}

td.report_info {
  width: 80%;
  padding: 10px;
}

.report_info div.field-set {
  float: left;
  width:  50%;
}

.report_info span.data-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  width: 45%;
  float: left;
}

.report_info span.data {
  font-size: 1.2em;
  width: 45%;
  text-align: right;
  float: left;
  padding-right: 10px;
}

td.report_image {
  padding: 25px;
  width: 20%;
}

.find-img {
  max-width: 175px;
  max-height: 175px;
}

div.row h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
